Repository DevOpsFreako/k8s_bench_interface: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_e2e, build_version

test_e2e:
  image: frappe/bench:latest
  stage: test
  before_script:
  - sudo apt-get update && sudo apt-get install -y jq wait-for-it libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb
  ...

build_version:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  ...

feat: add cronjob
  k8s_bench_interface/endpoints.py
  k8s_bench_interface/k8s_bench_interface/doctype/bench_cronjob/__init__.py
  k8s_bench_interface/k8s_bench_interface/doctype/bench_cronjob/bench_cronjob.js
  k8s_bench_interface/k8s_bench_interface/doctype/bench_cronjob/bench_cronjob.json
  k8s_bench_interface/k8s_bench_interface/doctype/bench_cronjob/bench_cronjob.py
  k8s_bench_interface/k8s_bench_interface/doctype/bench_cronjob/test_bench_cronjob.py
  k8s_bench_interface/k8s_bench_interface/workspace/k8s_bench/k8s_bench.json
Due: test_e2e

chore: fix release script
  release.py
Due: none

chore: publish release
  ci/version.txt
  k8s_bench_interface/k8s_bench_interface/__init__.py
  values-template.yaml
Due: test_e2e, build_version

feat: pod exec
  devcontainer/compose.yml
  docs/development.md
  docs/production.md
  k8s_bench_interface/hooks.py
  k8s_bench_interface/k8s_bench_interface/page/__init__.py
  k8s_bench_interface/k8s_bench_interface/page/exec_terminal/__init__.py
  k8s_bench_interface/k8s_bench_interface/page/exec_terminal/exec_terminal.js
  k8s_bench_interface/k8s_bench_interface/page/exec_terminal/exec_terminal.json
  k8s_bench_interface/public/js/xterm.bundle.js
  kustomize/kustomization.yaml
  kustomize/patch.sh
  kustomize/patch.yaml
  package.json
  values-template.yaml
  yarn.lock
Due: test_e2e

feat: terminal page
  k8s_bench_interface/endpoints.py
  k8s_bench_interface/hooks.py
  k8s_bench_interface/k8s_bench_interface/page/exec_terminal/exec_terminal.js
  k8s_bench_interface/k8s_bench_interface/page/exec_terminal/exec_terminal.json
  k8s_bench_interface/public/css/xterm.bundle.less
  k8s_bench_interface/public/js/xterm.bundle.js
  kustomize/patch.yaml
  package.json
  yarn.lock
Due: test_e2e

feat: additional volumes on bench command
  k8s_bench_interface/k8s_bench_interface/doctype/bench_command/bench_command.json
  k8s_bench_interface/k8s_bench_interface/doctype/bench_command/bench_command.py
  k8s_bench_interface/k8s_bench_interface/doctype/kubernetes_volume/__init__.py
  k8s_bench_interface/k8s_bench_interface/doctype/kubernetes_volume/kubernetes_volume.json
  k8s_bench_interface/k8s_bench_interface/doctype/kubernetes_volume/kubernetes_volume.py
Due: test_e2e

ci: use kaniko compressed caching and snapshot redo
  .gitlab-ci.yml
Due: test_e2e

chore: fix release script
  k8s_bench_interface/__init__.py
  k8s_bench_interface/k8s_bench_interface/__init__.py
  release.py
Due: test_e2e, build_version

chore: publish release
  ci/version.txt
  k8s_bench_interface/__init__.py
  values-template.yaml
Due: test_e2e, build_version

ci: fix image build frappe version
  ci/build.env
Due: none

chore: fix release script allow image tag bump
  release.py
Due: none

chore: publish release
  ci/version.txt
  values-template.yaml
Due: build_version

fix: release script and image tag
  ci/version.txt
  release.py
Due: build_version

fix: fetch job status
  k8s_bench_interface/k8s_bench_interface/doctype/bench_command/bench_command.js
  k8s_bench_interface/k8s_bench_interface/doctype/bench_cronjob/bench_cronjob.js
Due: test_e2e

Path conditions:
  test_e2e: any of: k8s_bench_interface/**/*, tests/**/*, .gitlab/**/*, .gitlab-ci.yml, MANIFEST.in, .pre-commit-config.yaml, requirements*.txt, setup.py
  build_version: any of: k8s_bench_interface/k8s_bench_interface/__init__.py, ci/version.txt
